## Question 2:
Youâ€™re given two dataframes. One contains information about addresses and the other contains relationships between various cities and states:

df_addresses

address

4860 Sunset Boulevard, San Francisco, 94105 3055 Paradise Lane, Salt Lake City, 84103 682 Main Street, Detroit, 48204 9001 Cascade Road, Kansas City, 64102 5853 Leon Street, Tampa, 33605

df_cities

city state Salt Lake City Utah Kansas City Missouri Detroit Michigan Tampa Florida San Francisco California

Write a function complete_address to create a single dataframe with complete addresses in the format of street, city, state, zipcode.

### Answer
My strategy here will be to:
1. Isolate for the city in both the df_addresses and df_cities
2. merge based on city
3. Reformat text so it's in format requested

In [45]:
import pandas as pd
import numpy as np

df_addresses = pd.DataFrame({"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]})
df_cities = pd.DataFrame({"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]})

#From the addresses data frame each city is contained in the each string in this format: ", city_name,"
#Let's split the address based on commas to isolate for the city
df_addresses['city'] = df_addresses['address'].str.split(',', expand=True)[1]
print(df_cities.dtypes)
#Remove all leading/trailing whitespace
df_addresses["city"] = df_addresses['city'].str.strip()

#Join the two dataframes on the city column 
df_addresses = df_addresses.merge(df_cities, how='left', on=['city'])

#Assuming that all the addresses have the same 5 digit zip code at the and preceded by a space, insert state using indexing
df_addrPart1 = df_addresses['address'].str[:-5]
df_addrPart2 = df_addresses['address'].str[-6:]
df_addresses = df_addrPart1 + df_addresses['state'] + ',' +df_addrPart2
print(df_addresses)

city     object
state    object
dtype: object
0    4860 Sunset Boulevard, San Francisco, Californ...
1      3055 Paradise Lane, Salt Lake City, Utah, 84103
2            682 Main Street, Detroit, Michigan, 48204
3      9001 Cascade Road, Kansas City, Missouri, 64102
4              5853 Leon Street, Tampa, Florida, 33605
dtype: object

The above solution assumes that the zip code will always be constant, let's make a more general approach

In [56]:
df_addresses = pd.DataFrame({"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]})
df_cities = pd.DataFrame({"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]})

#From the addresses data frame each city is contained in the each string in this format: ", city_name,"
#Let's split the address based on commas to isolate for the city
df_addresses = df_addresses['address'].str.split(',', expand=True)
df_addresses.columns = ['street', 'city', 'zipcode']

# #Remove all leading/trailing whitespace
df_addresses["city"] = df_addresses['city'].str.strip()
#Join the two dataframes on the city column 
df_addresses = df_addresses.merge(df_cities, how='left', on=['city'])

df_addresses["address"] = df_addresses['street'] + ', ' + df_addresses['city'] + ', ' + df_addresses['state'] + ', ' + df_addresses['zipcode']
df_addresses = df_addresses[['address']]
print(df_addresses)

                                             address
0  4860 Sunset Boulevard, San Francisco, Californ...
1   3055 Paradise Lane, Salt Lake City, Utah,  84103
2         682 Main Street, Detroit, Michigan,  48204
3   9001 Cascade Road, Kansas City, Missouri,  64102
4           5853 Leon Street, Tampa, Florida,  33605